*{
    background-image: linear-gradient(to left,#f55f96,#D69ADE);
    border-radius: 10px;
    border-color:#D69ADE;
    font-family:cursive;
    font-style: italic;
    

}
.form{
     display: flex; 
    flex-direction: column; 
    justify-content: center;
    align-items: center; 
    margin-top: 20px;
    gap: 10px;  
}
.feedback{
    color:darkblue;
    font-size: 20px;
    font-weight: bold;
    justify-content: center;
    
}
.home{
    color:darkblue;
    font-size: 20px;
    font-weight: bold;
    justify-content: center;
    text-align: center;
}






